/target
para_seeker/Item/*.txt
para_seeker/NOKENV/*.txt
para_seeker/NOKENV/*.ini
para_porter_server/Item/*.txt
para_porter_server/NOKENV/*.txt
para_porter_server/NOKENV/*.ini
library/NOKENV/*.txt
library/NOKENV/*.ini

